<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from webhunt.store/themeforest/examin/index-6.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Jul 2021 11:34:22 GMT -->
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Examin - Education and LMS Template">

    <!-- ========== Page Title ========== -->
    <title>Examin - Education and LMS Template</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="~/assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="~/assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <link href="~/assets/css/bootsnav.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5/html5shiv.min.js"></script>
      <script src="assets/js/html5/respond.min.js"></script>
    <![endif]-->
    <!-- ========== Google Fonts ========== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800" rel="stylesheet">

</head>

<body>

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->
    <!-- Header
    ============================================= -->
    <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav" >

            <div class="container">

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("index","home")">
                        <img src="~/assets/img/logo-light.png" class="logo logo-display" alt="Logo">
                        <img src="~/assets/img/logo.png" class="logo logo-scrolled" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                        <li class="dropdown">
                            <a href="@Url.Action("index","home")" class="" data-toggle="">Home</a>

                        </li>
                        <li class="dropdown megamenu-fw">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Student</a>
                            <ul class="dropdown-menu megamenu-content" role="menu">
                                <li>
                                    <div class="row">

                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Student Pages</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    @if (Session["login"] == null)
                                                    {
                                                        <li><a href="@Url.Action("Login","home")">Login</a></li>
                                                        <li><a href="@Url.Action("Register","home")">Register</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li><a href="@Url.Action("UserProfile", "Home")">Profile</a></li>
                                                        <li><a href="@Url.Action("Logout", "Home")">Logout</a></li>
                                                    }
                                                </ul>
                                            </div>
                                        </div><!-- end col-3 -->

                                    </div><!-- end row -->
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="@Url.Action("courses","home")" class="" data-toggle="">Courses</a>

                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Teachers</a>
                            <ul class="dropdown-menu">
                                @if (Session["tec"] != null)
                                {
                                    <li><a href="@Url.Action("index", "Admin")">Manage</a></li>
                                    <li><a href="@Url.Action("Login", "Teachers")">Logout</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Login", "Teachers")">Login</a></li>
                                }
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Event</a>
                            <ul class="dropdown-menu">
                                <li><a href="event.html">Event Mixed Colum</a></li>
                                <li><a href="event-2.html">Event Grid Colum</a></li>
                                <li><a href="event-3.html">Event Carousel</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-standard.html">Blog Standard</a></li>
                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                <li><a href="blog-single-standard.html">Single Standard</a></li>
                                <li><a href="blog-single-left-sidebar.html">Single Left Sidebar</a></li>
                                <li><a href="blog-single-right-sidebar.html">Single Right Sidebar</a></li>
                            </ul>
                        </li>
                        @if (Session["login"] != null)
            {
                            <li>
                                <a href="@Url.Action("UserProfile","Home",new { email=Session["login"].ToString()})">Welcome @Session["login"]</a>
                            </li>
                        }
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>

        </nav>
        <!-- End Navigation -->

    </header>
    <!-- End Header -->

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />



        @RenderBody();

    <!-- Start Footer
    ============================================= -->
    <footer class="bg-fixed shadow dark-hard default-padding-top text-light" style="background-image: url(../../assets/img/banner/11.jpg);">
        <div class="container">
            <div class="row">
                <div class="f-items">
                    <div class="col-md-4 item">
                        <div class="f-item">
                            <img src="~/assets/img/logo-light.png" alt="Logo">
                            <p>
                                Excellence decisively nay man yet impression for contrasted remarkably. There spoke happy for you are out. Fertile how old address did showing because sitting replied six. Had arose guest visit going off child she new.
                            </p>

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 item">
                        <div class="f-item link">
                            <h4>Links</h4>
                            <ul>
                                <li>
                                    <a href="@Url.Action("courses","home")">Courses</a>
                                </li>

                                <li>
                                    <a href="@Url.Action("Register","home")">Register</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Contact","home")">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                  
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom bg-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <p>&copy; Copyright 2019. All Rights Reserved by <a href="#">validthemes</a></p>
                        </div>
                        <div class="col-md-6 text-right link">
                            <ul>
                                <li>
                                    <a href="#">Terms of user</a>
                                </li>
                                <li>
                                    <a href="#">License</a>
                                </li>
                                <li>
                                    <a href="#">Support</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer -->
        <!-- jQuery Frameworks
        ============================================= -->
        <script src="~/assets/js/jquery-1.12.4.min.js"></script>
        <script src="~/assets/js/bootstrap.min.js"></script>
        <script src="~/assets/js/equal-height.min.js"></script>
        <script src="~/assets/js/jquery.appear.js"></script>
        <script src="~/assets/js/jquery.easing.min.js"></script>
        <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="~/assets/js/modernizr.custom.13711.js"></script>
        <script src="~/assets/js/owl.carousel.min.js"></script>
        <script src="~/assets/js/wow.min.js"></script>
        <script src="~/assets/js/isotope.pkgd.min.js"></script>
        <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="~/assets/js/count-to.js"></script>
        <script src="~/assets/js/loopcounter.js"></script>
        <script src="~/assets/js/jquery.nice-select.min.js"></script>
        <script src="~/assets/js/bootsnav.js"></script>
        <script src="~/assets/js/main.js"></script>

</body>

<!-- Mirrored from webhunt.store/themeforest/examin/index-6.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Jul 2021 11:34:22 GMT -->
</html>
