@model NationalExamSystem.Models.Student

@{
    ViewBag.Title = "Delete";
    Layout = "../Admin/layout.cshtml";
}

<br />
<br />
<br />
<br />

<h3 class="text-center">Are you sure you want to delete this?</h3>

<table class="table table-striped table-advance table-hover" style="margin-left:12%;width:auto; white-space: nowrap;">

    <tr>
        <th  @Html.DisplayNameFor(model => model.Exam.ExamName)></th>
        <td>@Html.DisplayFor(model => model.Exam.ExamName)</td>
    </tr>

    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <td>@Html.DisplayFor(model => model.Name)</td>
    </tr>

    <tr>
        <th>@Html.DisplayNameFor(model => model.birthdate)</th>
        <td>@Html.DisplayFor(model => model.birthdate)</td>
    </tr>

    <tr>
        <th>@Html.DisplayNameFor(model => model.phone)</th>
        <td>@Html.DisplayFor(model => model.phone)
</td>
    </tr>

    <tr>
        <th>@Html.DisplayNameFor(model => model.NationNumber)</th>
        <td>@Html.DisplayFor(model => model.NationNumber)</td>
    </tr>

    <tr>
        <th>@Html.DisplayNameFor(model => model.InvoiceImage)</th>
        <td>@Html.DisplayFor(model => model.InvoiceImage)</td>
    </tr>

    <tr>
        <th>@Html.DisplayNameFor(model => model.InvoiceNumber)
</th>
        <td>@Html.DisplayFor(model => model.InvoiceNumber)
</td>
    </tr>

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
    </th>
    <td>
        @Html.DisplayFor(model => model.Email)
</td>
</tr>



    <tr>
    
        <td>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </td>
    </tr>

    </table>




 
          



